body {
  /* background-color: rgb(13, 11, 90); */
  background-color: rgb(136, 135, 150);

}

header {
  background-color: rgb(47, 51, 53);
  color: white;
  text-align: center;
  font-size: xx-large
}

.col-auto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 8rem;
  padding: 10px;
  width: auto;
}

#today {
  visibility: hidden;
  border-style: solid;
  padding: 10px;
  height: 15rem;
  display: flex;
  background-color: white;
}



#week {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;


}



.bigDayChild {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-style: solid;
  border-color: grey;
  width: auto;
  background-color: white;
}