header {
  background-color: rgb(113, 188, 223);
  color: white;
  text-align: center;
  font-size: xx-large
}

.col-auto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 8rem;
  padding: 10px;
  width: auto;
}

#today {
  visibility: hidden;
  border-style: solid;
  padding: 10px;
  height: 15rem;
  display: flex;
}

#week {
  display: flex;
  justify-content: space-evenly;


}

.weekChild {
  border-style: solid;
  width: auto ;
  background-color: rgb(13, 11, 90);
  color:white;
}